html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.myList {
    margin: auto;
    align-items:stretch;
    width: 60%;
}

.myForm {
    margin: auto;
    width: 50%;
    display: flex;
    align-items: center;
}

.stupidaggine {
    font-size: 0.5rem !important;
    margin-left: 50px;
}

scientists {
    margin: auto !important;
}

#SelectedId {
    width: 100% !important;
    align-self: center;
}

#myButton {
    min-width: 35%;
    background-color: #fffff4;
}

.myInput {
    align-self: center;
}

.form-group {
    min-width: 35%;
}

.displayScientist {

    font-size: 1.75rem !important;
}

.navbar {
    background-color: #F1E3F3;
}

.sfondo {
    background-color: #87BBA2
}

.list-group-item {
    background-color: transparent;
}

.backgroundfooter {
    background-color: #F1E3F3;
}

.Benvenuto {
    text-align: center !important;
    font-size: 3rem !important;
    color: pink;
    margin-top: 50px;
}

.High-Priority{

   background-color: red;
    padding: 5px;
}
.Medium-Priority {
    background-color: lightblue;
    padding: 5px;
}
.Low-Priority {
    background-color: green;
    padding: 5px;
}

.Completed-Task{
    background-color: gold;
    padding : 5px;
}

.default-Priority {
    background-color: lightgray;
    padding: 5px;
}