@model ScientistSelectionModel

@{
    ViewData["Title"] = "Person";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <form class="card" asp-action="ScientistList" asp-controller="Home" method="post">
        <div class="form-group">
            <label>Select your name</label>
            @Html.DropDownListFor(x => x.SelectedId, Model.Scientists, null, new { required = "required", @class = "form-control myInput" })
        </div>
        <button id="myButton" type="submit" class="btn btn-sm btn-outline-primary">Show my assignments</button>
    </form>
</div>